body {
  margin: 0;
  font-family: "Comfortaa", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dbdbdb;
}

.page {
  min-height: 100vh;
  padding-top: 56px;
  padding-bottom: 56px;
}

a {
  text-decoration: none;
}
a.active {
  text-decoration: underline;
}

.input-div {
  max-width: 500px;
}

textarea {
  resize: none;
  min-height: 100px !important;
  max-width: 1032px;
}

.add-more-btn {
  cursor: pointer;
}

.card {
  background-color: #EDEDED;
  padding: 10px;
  margin: 10px 0;

}
